<section class="px-4 pb-8 md:px-0" id="prizes">
  <div class="mx-auto max-w-4xl">
    <div class="border-l-2 border-amber-100/30 bg-black/80 p-8">
      <div class="m-2 text-center">
        <h3 class="font-mono text-3xl text-amber-100">
          TOTAL_PRIZE_POOL = "₹8,00,000+"
        </h3>
        <p class="mt-4 font-mono text-amber-100/70">
          // Plus exciting goodies and swags!
        </p>
      </div>
    </div>
  </div>
</section>
